# Golang
*.exe
*.test
*.out
*.log

# Binaries
bin/
build/
vendor/

# Dependencies
**/node_modules/
**/vendor/

# Environment variables
.env
.env.local
.env.*.local

# IDE / Editor settings
.vscode/
.idea/
*.iml

# macOS system files
.DS_Store

# VS Code specific
*.code-workspace
.history/

# Temporary files
tmp/
*.tmp
*.swp
*.swo
*.bak
*.old
